<div class="container">
    <h1 class="text-center mt-5">Discover our latest offers</h1>
</div>

<div class="container mt-5">
    <div class="card p-2">
        <div class="d-flex text-content-arround">
            <select class="form-select" aria-label="Default select example">
                <option selected>Departure</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option selected>Arrival</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option selected>Passengers</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

        </div>
        <div class="d-flex text-content-arround mt-3 ">
            <input class="form-control" type="date">
            <input class="form-control" type="date">
        </div>
        <div class="container text-center">
            <button type="submit" class="btn btn-primary mt-3" style="width:50%;">Primary</button>
        </div>
    </div>
</div>